 __pycache__
*.pyc
.vscode
settings.json

# Ignore Python virtual environment directories
virtualenv/*
venv/
env/
.venv/
.env/

growatt2mqtt.cfg
growatt2mqtt.service
config.cfg
*.cfg
*.old
invertermodbustomqtt.service
log.txt
variable_mask.txt
variable_screen.txt
.~lock.*
protocols/*custom*
protocols/*/*custom*
protocols/*override*
protocols/*/*override*
classes/transports/*custom*

input_registry.json
holding_registry.json

#ignore pypi / pyproject.toml output 
dist/*
build/*
python_protocol_gateway.egg-info/*