[Unit]
Description=InverterModBus
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u invertermodbustomqtt.py
WorkingDirectory={{directory for files}}
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
