[Unit]
Description=Protocol Gateway For - {description}
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u protocol_gateway.py
WorkingDirectory={{directory for files}}
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
